@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --accentDark: #4D4403;
  --accent: #738D28;
  --medium: #64485C;
  --lightGrey: #DFE4E7;
  --mediumGrey: #C6C0B2;

  --white: #fff;
  --black: #1D0D00;
  --grey: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: var(--mediumGrey);
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}

textarea {
  resize: none;
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    border: var(--accent) 1px solid;
}

input:focus {
  background: var(--accent);
  color: var(--white);
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  background: var(--accent);
  outline: none;
  border: none;
  border-radius: 3px;
}

button:hover {
  background: var(--accentDark);
  cursor: pointer;
}

.btn {
  background: var(--accent);
  border-radius: 3px;
  border: none;
  width: 100px;
  margin: 1rem auto;
  padding: 0.5rem;
  color: var(--white);
  font-size: 1rem;
}

.btn:hover {
  background: var(--accentDark);
  cursor: pointer;
}

.line {
  margin: 0.5rem 7rem;
  height: 0px;
  border-bottom: 0.2px var(--accent) solid;
}

.shortLine {
  margin: 1rem 20rem;
  height: 0px;
  border-bottom: 0.2px var(--accent) solid;
}

/* Header */
.header {
  margin: auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
}

.header .logo {
  margin: auto;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navBar li {
  margin: 0 0.5rem;
  padding: 0.5rem;
  background: var(--accent);
  color: var(--white);
  border-radius: 3px;
}

.navBar li:hover {
  background: var(--accentDark);
  cursor: pointer;
}

.header form {
  margin: auto;
}

.header form input {
  margin-right: 2px;
  width: 100px;
  padding: 0.3rem;
}

.header form button {
  margin: auto;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  border: none;
  color: var(--white);
  background: var(--accent);
}

.header form button:hover {
  background: var(--accentDark);
  cursor: pointer;
}

/* Add Recipes */
.formContainer {
  margin: 1.5rem auto;
  border: 2px var(--accent) solid;
  /* background: var(--lightGrey); */
  border-radius: 3px;
  max-width: 400px;
}

.formContainer form {
  display: grid;
  padding: 1rem;
  color: var(--grey);
  text-align: center;
}

.formContainer form label, .formContainer form input,
.formContainer form textarea,
.formContainer form select {
  display: block;
  margin: 0.2rem auto;
  width: 300px;
}

.formContainer form input,
.formContainer form textarea,
.formContainer form select {
  padding: 0.2rem;
  border: 1px var(--accent) solid;
  border-radius: 3px;
  color: var(--accent);
}

.formContainer form select {
  background: var(--lightGrey);
}

.formContainer form select option {
  background: var(--accent);
}

.formContainer form input:focus,
.formContainer form textarea:focus,
.formContainer form select:focus {
  background: var(--accent);
  outline: none;
  color: var(--white);
  outline: none;
}

.formContainer form label.ingredientContainer {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-column-gap: 1rem;
}

.formContainer form label.ingredientContainer p {
  font-size: 0.8rem;
}

.formContainer form label.ingredientContainer .option {
  margin: auto;
}

.formContainer form label.ingredientContainer .option button {
  width: 20px;
  height: 24px;
  margin: 1px;

}

.formContainer form label.ingredientContainer input.amount {
  width: 100%;
}

.formContainer form label.ingredientContainer input.description {
  width: 100%;
}

.formContainer form label.stepContainer {
  display: grid;
  grid-template-columns: 0.3fr 6fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.formContainer form label.stepContainer p {
  font-size: 0.8rem;
}

.formContainer form label.stepContainer .option {
  margin: auto;
}

.formContainer form label.stepContainer .option button {
  width: 20px;
  height: 24px;
  margin: 1px;
}

.formContainer form label.stepContainer input {
  width: 100%;
}


/* ShowRecipes */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}


.recipeCard {
  padding: 1rem;
  text-align: center;
  border: 1px var(--accent) solid;
}

.recipeCard:hover {
  background: var(--accent);
  cursor: pointer;
}

.footer {
  padding: 0.5rem;
  color: var(--accent);
  text-align: center;
}

.paddingContainer {
  padding: 1rem;
}


/* RecipeDetail */
body.bodyDetail {
  margin: 2rem;
}

body.bodyDetail .ingredients {
  text-align: left;
  margin-top: 2rem;
}

body.bodyDetail .prepSteps {
  text-align: left;
  margin-top: 2rem;
}
